
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("ogrenciKaydet", "Home", FormMethod.Post,new { @class= "form-horizontal",role="form" })) //form-horizontal bootstrap frameworkteki bir stil
    {
        <div class="container">
            <div class="jumbotron">
                <h1>Öğrenci Kayıt Sayfası</h1>
                <p>Tüm alanlar zorunludur!</p>
            </div>
            <div class="form-group row">                
                    <label class="control-label col-sm-2">Öğrenci Adı</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="Ad" placeholder="Öğrencinin adını giriniz" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Öğrencinin Soyadı</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="Soyad" placeholder="Öğrencinin soyadını giriniz" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2">Ders Adı</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" name="Ders" placeholder="Ders adını giriniz" />
                </div>
           </div>
               <div class="form-group row">
                    <label class="control-label col-sm-2">Ders Notu</label>
                   <div class="col-sm-3">
                       <input class="form-control" type="text" name="Not" placeholder="Ders notunu giriniz" />
                   </div>
                </div>
            <div class="form-group row offset-2">
                    <button class="btn btn-info" type="submit" value="Ekle">Ekle</button>                
           </div>
         </div>
        
    }

</body>
</html>
