@model List<ogrenciKayit.Models.Ogrenci>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OgrenciListe</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container"> 
        <div class="jumbotron">
            <h1>Öğrenci Not Listesi</h1>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Öğrenci Adı</th>
                        <th>Öğrenci Soyad</th>
                        <th>Ders Adı</th>
                        <th>Not</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var ogrenci in Model)
                    {
                    <tr>
                        <td>@ogrenci.Ad</td>
                        <td>@ogrenci.soyAd</td>
                        <td>@ogrenci.Ders</td>
                        <td>@ogrenci.Not</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
